body {
    margin: 20px 40px;
  }
  
  p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 16px;
  }
  
  /*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
  .wrapper {
    display: flex;
    height: 60px;
    background-color: green;
    margin-bottom: 20px;
  }
  
  /*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
  .redExample {
    flex: 1;
    background-color: red;
  }
  
  /*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
  .blueExample {
    flex: 1;
    background-color: blue;
  }
  
  /*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
  .emptyExample2 {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
  }
  
  .blueExample2 {
    width: 80px;
    background-color: blue;
  }
  
  /* TODO: Add CSS for the rest of your solution below
                       
           /* row3 */
  .blueExample_row3 {
    width: 80px;
    background-color: blue;
    justify-content: flex-end;
  }    

  .redExample_row3 {
    width: 80px;
    background-color: red;
    
  }
  .green3 {
    flex: 1;
    background-color: green;
  }


            /* row4 */
  .blueExample4 {
  width: 80px;
  background-color: blue;
  }        
  .redExample4 {
    flex: 1;
    background-color: red;
  }

  .wrapperfor5 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: green;
    margin-bottom: 20px;
  }
  .redExample5{
    background-color: red;
    width: 40px;
    height: 40px;
    
  }


  .wrapperfor6 {
    display: flex;
    justify-content: center;
    height: 60px;
    background-color: red;
    margin-bottom: 20px;
  }
  .blueExample6 {
    width: 80px;
    background-color: blue;
  }

.wrapperfor7{
display: flex;

height: 60px;
margin-bottom: 20px;
background-color: blue;
}

.emptydiv{
  display: flex;
  flex: 1;
  justify-content: center;
}

.redfor7{
  width: 80px;
  background-color: red;
}

.greenfor7{
  flex:1;
  align-self: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: green;
}
.bluefor7{
  flex: 1;
  height: 20px;
  background-color: green;
}
  


  .wrapperfor8 {
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: green;
    margin-bottom: 20px;
  }
 .yellow8{
   width: 80px;
   background-color: yellow;
 }

 
 
 .wrapperfor9 {
  display: flex;
  justify-content: space-evenly;
  height: 60px;
  background-color: yellow;
  margin-bottom: 20px;
}


.green9{
  width: 20px;
  background-color: green;
}

